/*  CAPS MAPAS    */
.box-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
	gap: 15px;
}

.box {
	border: 1px solid rgba(54, 53, 53, 0.623);
	border-radius: 5px;
	;
	box-shadow: 0 3px 5px #4e82be96;
	text-align: center;
	padding: 30px 20px;
}


.box:hover {
	opacity: 0.75;
	box-shadow: none;
}

.map {
	margin: 30px 10px;
}