@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	min-height: 100vh;
	background-color: #f5f2ebfa;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: "Roboto", sans-serif;
}
h1 {
	font-weight: bold;
	padding: 15px 0;
	text-align: center;
}
.encabezado {
	border-bottom: 1px solid rgba(0, 0, 0, 0.349);
}
.navbar {
	background: url("/img/hospital.jpg");
	background-position: 47.8% 32.3%;
	background-repeat: no-repeat;
	display: flex;
	justify-content: flex-start;
}
.navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='black' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar div {
	padding-left: 3px;
}
.navbar div button {
	padding: 7px;
	border: solid 1px black;
}
.navbar-collapse {
	margin: 5px 0;
}
.collapse ul {
	margin-left: 5px;
}
.collapse ul li a {
	padding: 5px;
}
.activo {
	background-color: rgba(216, 216, 216, 0.685);
}
.enlaces {
	font-weight: bold;
	font-size: 1rem;
	color: black;
}
.navbar-collapse {
	margin: 10px 0;
}

.enlaces:hover {
	text-decoration: underline;
	background-color: rgba(245, 245, 245, 0.507);
}

.contenedor {
	display: flex;
	background-color: #f5f2ebfa;
	flex-grow: 1;
	padding-bottom: 10px;
}
.contenedor .estructura_contenido {
	width: 100%;
}

.pie_pagina {
	background-color: #002b5b;
	display: flex;
	flex-direction: column;
}
.pie_pagina p {
	color: white;
	font-size: 0.75rem;
	padding: 5px 0;
	text-align: center;
	margin: 0;
}

/* MQ */
@media screen and (min-width: 575px) {
	.pie_pagina p {
		font-size: 1rem;
	}
}

@media screen and (min-width: 992px) {
	.navbar {
		padding-top: 0;
	}
	.enlaces {
		margin: 0 5px;
	}
	.collapse ul li:first-child {
		border-left: 1px solid black;
	}

	.collapse ul li {
		border-right: 1px solid black;
	}
	.navbar {
		padding: 0;
		background-position: center 27.7%;
		height: 130px;
		align-items: start;
	}
	.navbar-collapse {
		margin: 0;
		display: flex;
		justify-content: flex-start;
	}
}

@media screen and (min-width: 1024px) {
	.contenedor {
		padding: 0 20px;
	}
}
