
/*  PERSONAL MEDICO */
.box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(270px, 1fr));
    gap: 15px;
}
.box{
    box-shadow: 0 3px 5px;
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding: 30px 20px;
}
img{
    height: 130px;
}

h3{
    color:#444;
    font-size: 22px;
    padding:10px 0;
}

/*  BOOTSTRAP*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	min-height: 100vh;
	background-color: #f5f2ebfa;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: "Roboto", sans-serif;
}
.encabezado {
	border-bottom: 1px solid rgba(0, 0, 0, 0.349);
}
.navbar {
	padding-bottom: 0;
}
.activo {
	background-color: rgba(216, 216, 216, 0.685);
}
.enlaces {
	font-weight: bold;
	font-size: 1rem;
	color: black;
}
.navbar-collapse {
	margin: 10px 0;
}

.enlaces:hover {
	color: white;
	text-decoration: underline;
	background-color: rgba(245, 245, 245, 0.507);
}

.contenedor {
	display: flex;
	background-color: #f5f2ebfa;
	flex-grow: 1;
	padding-bottom: 10px;
}
.contenedor .estructura_contenido {
	width: 100%;
}

.pie_pagina {
	background-color: #002b5b;
	display: flex;
	flex-direction: column;
}
.pie_pagina p {
	color: white;
	font-size: 0.75rem;
	padding: 5px 0;
	text-align: center;
	margin: 0;
}

/* MQ */
@media screen and (min-width: 575px) {
	.encabezado {
		padding: 0;
		flex-direction: row;
	}
	.encabezado_fijo {
		justify-content: end;
		padding: 0 10px;
	}

	.contenedor_gral {
		margin: 10px;
		padding: 15px;
	}
	.pie_pagina p {
		font-size: 1rem;
	}
}

@media screen and (min-width: 993px) {
	.navbar {
		padding-top: 0;
	}
	.enlaces {
		margin: 0 15px;
	}
}

@media screen and (min-width: 1024px) {
	/* .encabezado, */
	.contenedor {
		padding: 0 25px;
	}

	.contenedor_gral {
		padding: 20px;
	}

	.encabezado_fijo img {
		width: 200px;
	}
}

@media screen and (min-width: 1536px) {
	/* .encabezado, */
	.contenedor {
		padding: 0 50px;
	}
	.tit_principal {
		padding: 25px 0;
		font-size: 3.3rem;
	}
	.contenedor_gral {
		padding: 50px;
		padding-top: 0px;
	}
}