/* Seccion de contacto.*/
/* #008DDA - #41C9E2 - #ACE2E1 - #F7EEDD */
/*contenedor main*/
.contenedor {
display: grid;
}
/*direccion,telefono y correo electronico del hospital.*/
.estructura_contenido {
  /*div*/
  display: flex;
  justify-content: center;
}
/*Titulos de seccion y formulario de contacto*/
.titulo {
  background-color:#f5f2ebfa;
  color: #008DDA ;
  text-align: center;
  font-family: "Fjalla One", sans-serif;
  padding: 0.5rem;
  border-radius: 5px;
}
/*Seccion y Formulario de contacto.(usuario)*/
.seccion-contacto, .formulario-contacto{
  border: 1px solid grey;
  border-radius: 10px;
  padding: 2%;
  margin:1%;
  background-color: #f5f2ebfa;
  width: 500px;
  justify-content: center;
}
/*atributos del formulario de contactos*/
label,
input,
textarea,
iframe {
  margin-left: 5%;
  width: 90%;
  border-radius: 10px;
}
/*Centrar boton de registro e ingreso*/
.boton-enviar{
  width: 20%;
}
p {
  margin-left: 5%;
}
/* Responsive para celulares.*/
@media screen and (max-width: 1024px) {
.seccion-contacto, .formulario-contacto{
  width: 45%;
}
}
@media screen and (max-width: 850px) {
  .seccion-contacto, .formulario-contacto{
    width: 45%;
  }
  }
  @media screen and (max-width: 640px) {
    .seccion-contacto, .formulario-contacto{
      width: 45%;
    }
    }
@media screen and (max-width: 575px) {
  .contenedor_gral {
    margin: 10px;
    padding: 15px;
  }
  .pie_pagina p {
    font-size: 1rem;
  }
  .estructura_contenido {
    flex-direction: column;
  }
  .contacto {
    width: 100%;
    margin-top: 5%;
  }
  .seccion-contacto,
  .formulario-contacto {
    width: 90%;
    margin: 5%;
    border-radius: 10px;
  }
}

/* MQ 
@media screen and (min-width: 575px) {
  .encabezado {
    padding: 0;
    flex-direction: row;
  }
  .encabezado_fijo {
    justify-content: end;
    padding: 0 10px;
  }

  .contenedor_gral {
    margin: 10px;
    padding: 15px;
  }
  .pie_pagina p {
    font-size: 1rem;
  }

  @media screen and (min-width: 993px) {
    .navbar {
      padding-top: 0;
    }
    .enlaces {
      margin: 0 15px;
    }
}

  @media screen and (min-width: 1024px) {
    /* .encabezado, 

    .contenedor_gral {
      padding: 20px;
    }

    .encabezado_fijo img {
      width: 200px;
    }
  }

  @media screen and (min-width: 1536px) {
    /* .encabezado, 
    .tit_principal {
      padding: 25px 0;
      font-size: 3.3rem;
    }
    .contenedor_gral {
      padding: 50px;
      padding-top: 0px;
    }
  }
}
