body{
    /*box-sizing: border-box;*/
    padding: 0;
    margin: 0;
}
.flex{
    display: flex;
}
a{
    background-color: grey;
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;  
    color: white;
    font-family:'Courier New', Courier, monospace;
}
header{
    background-image: url(./imagenes/mar-chiquita-13-scaled.png);
    background-size: cover;
    padding-bottom: 10%;

}
header nav{
    margin-left: auto;
    margin-right: 20px;
}
.menuNav{
    list-style: none;
    gap: 10px;

}
.alignCenter{
    justify-content: center;
    align-items: center;
    font-size: large;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: grey;
}
.pieDePagina{
    padding: 5%;
    background-color: grey;

}
.caja-contenedora {
    margin-top: 2%;
    box-sizing: border-box;
    flex-direction: column;
    height: 40%;
    border: 5px solid grey;
    padding: 20px;
    background-repeat: no-repeat;
    background-size:cover;
}
  
.caja {
    width: 60%;
    height: 60%;
    border: 1px solid #ddd;
    margin: 5px;
    text-align: center;
    background-color:  rgba(38, 131, 252, 0.527);
}
  
img {
    margin-top: 5%;
    width: 50%;
    margin-bottom: -20%;
}
  
.caja:hover{
    background: linear-gradient(rgba(38, 131, 252, 0.527), rgb(34, 34, 238));
    transition: all 1s;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.slider {
    display: flex;
    padding-right: 10%;
    animation: slide 10s infinite;
  }
  
  @keyframes slide {
    0% {
      background-image: url("./imagenes/img00.jpeg");
    }
    33% {
      background-image: url("./imagenes/img01.jpeg");
    }
    66% {
      background-image: url("./imagenes/img02.jpeg");
    }
    100% {
      background-image: url("./imagenes/img00.jpeg");
    }
  }


/*
.tester1{
    
backface-visibility:hidden;
background-color: rgb(79, 201, 154);
box-sizing: border-box;
color: rgb(63, 63, 70);
display: block;
font-family: -apple-system, blinkmacsystemfont, "segoe ui", roboto, oxygen-sans, ubuntu, cantarell, "helvetica neue", helvetica, arial, sans-serif;
font-size: 16px;
height: 280px;
letter-spacing: 0.16px;
line-height: 28.8px;
overflow-wrap: break-word;
position: absolute;
text-size-adjust: 100%;
transform: none;
transform-style:preserve-3d;
transition-behavior: normal;
transition-delay: 0s;
transition-duration: 0.6s;
transition-property: all;
transition-timing-function: ease-in-out;
unicode-bidi: isolate;
width: 490px;
z-index:1;
}
*/